{% extends 'layouts/customer-layout.html' %}

{% load static %}

{% block cssFile %}
    <link rel="stylesheet" href="{% static 'css/c/reservation-form.css' %}">
    <style>
    .backBtn {
        text-decoration: none;
        border: 1px solid rgba(255, 255, 255, 0.7);
        background-color: transparent;
        backdrop-filter: blur(4px) brightness(0.7);
        color: white;
        width: 40px;
        height: 40px;
        padding: 2px;
        border-radius: 50%;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .backBtn:hover{
        backdrop-filter: blur(4px) brightness(0.6);
    }

    .backBtn > i {
        color: white;
    }
    </style>
{% endblock cssFile %}


{% block navbar %}
{% endblock navbar %}

{% block footer %}
{% endblock footer %}

{% block content %}
<div class="df-bg-soft-white min-vh-100">
    <div class="container py-2">
        <div class="d-flex mb-3 align-items-center">
            <a href="{% url 'customer_bookings_detail' booking_info.id  %}" class="backBtn me-3"><i class="bi bi-arrow-left fs-5"></i></a>
            <div class="fs-5 fw-bold">Reservation Form</div>
        </div>
        <div class="row row-cols-3">

            <div class="col">
                <div class="h-100 d-flex flex-column justify-content-between">
                    <h6 class="mb-3 px-2 py-2 rounded-top df-bg-purple text-white">Payment</h6>
                    <div class="flex-fill d-flex flex-column justify-content-end">
                        <div class="flex-fill d-flex flex-column">
                            <div>
                                <span>Select Payment</span>
                                <div class="d-flex column-gap-2 mt-1">
                                    <div>
                                        <select id="paymentSelect" class="form-select">
                                            {% for p in payments %}
                                            <option value="{{p.key}}">{{p.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="align-self-end flex-fill">
                                        <input id="paymentKeyInput" type="text" class="form-control" disabled value="{{payments.0.key}}">
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 flex-fill d-flex">
                                <div class="mt-1 flex-fill">
                                    <span id="paymentSlipError" class="df-text-red mt-1 df-fs-sm d-none">Payment Slip is required.</span>
                                    <div id="uploadSlipBtn" class="h-100 d-flex flex-column justify-content-center align-items-center btn df-btn-glass-green">
                                        <i class="bi bi-camera df-text-green fs-1"></i>
                                        <span class="df-text-green">Upload Payment Slip</span>
                                    </div>

                                    <div id="slipImageWrapper" class="h-100 d-none d-flex justify-content-center align-items-center">
                                        <div class="w-75 position-relative shadow">
                                            <button id="cancelSlipBtn" type="button" class="btn df-btn-glass-red d-flex justify-content-center align-items-center p-3 position-absolute top-0 end-0" style="width: 15px; height: 15px; border-radius: 100%; margin-top: -15px; margin-right: -15px;">
                                                <i class="bi bi-x fs-4 text-danger"></i>
                                            </button>
                                            <img id="slipImage" src="https://newsvsinformation.com/wp-content/uploads/2021/09/236206163_355455026261008_526137930655568597_n-405x900.jpg"
                                            class="img-fluid w-100" alt="" style="object-fit: cover">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col">
                <div>
                    <h6 class="mb-3 px-2 py-2 rounded-top df-bg-primary text-white">Package Info</h6>
                    <div>
                        <div class="d-flex column-gap-2">
                            <div>
                                <span>Code</span>
                                <span class="mt-1 form-control" >{{package_info.code}}</span>
                            </div>
                            <div class="flex-fill">
                                <span>Title</span>
                                <span class="mt-1 form-control">{{package_info.title}}</span>
                            </div>
                        </div>
                        <div class="mt-4 d-flex column-gap-2">
                            <div class="flex-fill">
                                <span>Category</span>
                                <span class="mt-1 form-control">{{package_info.category}}</span>
                            </div>
                            <div>
                                <span>Duration</span>
                                <span class="mt-1 form-control">{{package_info.duration}} - Days</span>
                            </div>
                        </div>
                        <div class="mt-4 d-flex column-gap-2">
                            <div class="w-50">
                                <span>From</span>
                                <span class="mt-1 form-control">{{package_info.departure_from}}</span>
                            </div>
                            <div class="w-50">
                                <span>To</span>
                                <span class="mt-1 form-control">{{package_info.departure_to}}</span>
                            </div>
                        </div>

                        <div class="mt-4 d-flex column-gap-2">
                            <div class="w-50">
                                <span>Location</span>
                                <span class="mt-1 form-control">{{package_info.location}}</span>
                            </div>
                            <div class="w-50">
                                <span>Transportation</span>
                                <span class="mt-1 form-control">{{package_info.transportation}}</span>
                            </div>
                        </div>


                        <div class="mt-5">
                            <span>Unit Price</span>
                            <div class="mt-1 input-group">
                                <span class="form-control d-flex justify-content-between">
                                    <span>~</span>
                                    <span>{{package_info.unit_price}}</span>
                                </span>
                                <span class="input-group-text">MMK</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="">
                    <h6 class="mb-3 px-2 py-2 rounded-top df-bg-cyan">Booking Info</h6>
                    <div>
                        <div>
                            <span>Booking ID</span>
                            <input class="mt-1 form-control" disabled value="{{booking_info.id}}"/>
                        </div>

                        <div class="mt-4 d-flex column-gap-2">
                            <div>
                                <span>Booking Date</span>
                                <span class="mt-1 form-control">{{booking_info.booking_date}}</span>
                            </div>
                            <div class="flex-fill">
                                <span>Booking Time</span>
                                <span class="mt-1 form-control">{{booking_info.booking_time}}</span>
                            </div>
                        </div>

                        <div class="mt-4">
                            <div>
                                <span>Customer Email</span>
                                <input class="mt-1 form-control" disabled value="{{booking_info.email}}">
                            </div>
                        </div>

                        <div class="mt-4">
                            <span>Customer Info</span>
                            <div class="d-flex column-gap-2 mt-1">
                                <div>
                                    <span class="form-control">
                                        {{booking_info.name}}
                                    </span>
                                </div>
                                <div class="flex-fill">
                                    <span class="form-control">
                                        {{booking_info.phone}}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5 d-flex column-gap-2">
                            <div>
                                <span>Tickets</span>
                                <span class="mt-1 form-control">{{booking_info.ticket_count}}</span>
                            </div>
                            <div class="flex-fill">
                                <span class="d-block text-end">Total Price</span>
                                <div class="mt-1 input-group">
                                    <span class="form-control d-flex justify-content-between">
                                        <span>~</span>
                                        <span>{{booking_info.total_price}}</span>
                                    </span>
                                    <span class="input-group-text">MMK</span>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4 d-flex justify-content-end column-gap-2">
                            <a href="{% url 'customer_bookings_detail' booking_info.id  %}" class="btn df-btn-glass-red">Cancel</a>
                            <button id="requestPaymentBtn" class="btn btn-purple">Request Payment</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
<form id="paymentRequestForm" method="post" class="d-none" enctype="multipart/form-data">
    {% csrf_token %}
    <input id="bookingIdInput" type="text" name="bookingId" value="{{booking_info.id}}">
    <input id="paymentInput" type="text" name="payment">
    <input id="paymentSlipInput" type="file" name="slipImage">
</form>
<script src="{% static 'js/c/reservation.js' %}"></script>
</div>
{% endblock content %}