<div class="modal fade" id="dateChoose">
    <div class="modal-dialog py-4 mt-5 d-flex justify-content-center">
        <div class="modal-content shadow custom glass-card w-75 border border-white">
            <div class="modal-body">
                <div class="miniCloseBtn shadow" data-bs-dismiss="modal"><i class="bi bi-x fs-5 text-white"></i></div>
                <div class="df-text-blue mb-4 fw-bold">Choose Specifc Date Range</div>
                <div class="px-3">
                    <div>
                        <label for="fromDateInput" class="df-badge badge-blue mb-3">From</label>
                        <input id="fromDateInput" name="fromDate" type="date" class="form-control pointer" placeholder="MM DD, YYYY">
                    </div>
                    <div class="mt-4">
                        <label for="toDateInput" class="df-badge badge-blue mb-3">To</label>
                        <input id="toDateInput" name="toDate" type="date" class="form-control pointer" placeholder="MM DD, YYYY">
                    </div>
                    <div class="d-flex justify-content-end column-gap-3 mt-4">
                        <button id="resetDateBtn" class="btn df-btn-soft-purple" type="button">Reset</button>
                        <button id="okDateBtn" class="btn df-btn-soft-blue" type="button">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>