<div class="modal" id="confirmPayment">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
        <div class="modal-content border border-white glass-card shadow w-75" style="backdrop-filter: blur(3px) brightness(0.8) !important;">
            <div class="modal-body">
                <div>
                    <div class="">
                        <div class="df-alert df-alert-green fs-6 fw-bold">Confirming the payment.</div>
                    </div>
                    <div class="mt-3">
                        <div class="d-flex justify-content-end column-gap-2">
                            <button class="btn btn-admin-blue" data-bs-dismiss="modal">Cancle</button>
                            <button class="btn btn-admin-green" id="confirmBtn">Continue</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>