{% extends 'layouts/admin-layout.html' %}
{% block title %} Dashboard {% endblock %}

{% block content %}
<h2 class="ms-4">Dashboard</h2>

<div class="container-fluid py-4 px-3">
  <div class="row g-3 mb-4 rounded-4 bg-light pb-3">
    <h6 class="card-title text-muted mb-1">Overviews</h6>
    <div class="col-md-6 col-lg-3">
      <div class="card border rounded-4">
        <div class="card-body">
          <h6 class="card-title text-muted">Total Bookings</h6>
          <h3 class="fw-bold">1,250</h3>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card border rounded-4">
        <div class="card-body">
          <h6 class="card-title text-muted">Total Revenue</h6>
          <h3 class="fw-bold">$85,000</h3>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card border rounded-4">
        <div class="card-body">
          <h6 class="card-title text-muted">Active Customers</h6>
          <h3 class="fw-bold">2,430</h3>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card border rounded-4">
        <div class="card-body">
          <h6 class="card-title text-muted">New Customers</h6>
          <h3 class="fw-bold">150</h3>
        </div>
      </div>
    </div>
  </div>

  <!-- chart and pie -->
  <div class="row g-3 mb-4">
    <div class="col-lg-6">
      <div class="card shadow-sm border-0">
        <div class="card-body">
          <h6 class="card-title text-muted">Revenue Trends</h6>
          <div style="width: 100%; height: 280px;">
          <canvas id="revenueChart" height="200"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card border-0">
        <div class="card-body">
          <h6 class="card-title text-muted">Top 5 Destinations</h6>
          <div style="width: 100%; height: 280px;" class="text-center">
            <canvas id="pieChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="row g-3 mb-4">

    <!-- Left: Action Required (50%) -->
    <div class="col-lg-6">
      <div class="row g-3">
        <h6 class="card-title text-muted mb-2">Actions</h6>
        <div class="col-6">
          <div class="card border-0 shadow-sm rounded-4 bg-warning-subtle h-100">
            <div class="card-body">
              <h6 class="card-title text-muted">Pending Bookings</h6>
              <h4 class="fw-semibold">35</h4>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card border-0 shadow-sm rounded-4 bg-danger-subtle h-100">
            <div class="card-body">
              <h6 class="card-title text-muted">Cancelled Bookings</h6>
              <h4 class="fw-semibold">12</h4>
            </div>
          </div>
        </div>
        <div class="col-6 mb-3">
          <div class="card border-0 shadow-sm rounded-4 bg-info-subtle h-100">
            <div class="card-body">
              <h6 class="card-title text-muted">Pending Payments</h6>
              <h4 class="fw-semibold">$4,500</h4>
            </div>
          </div>
        </div>
        <div class="col-6 mb-3">
          <div class="card border-0 shadow-sm rounded-4 bg-success-subtle h-100">
            <div class="card-body">
              <h6 class="card-title text-muted">Feedback</h6>
              <h4 class="fw-semibold">20</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Right: Top 5 Tour Packages (50%)) -->
    <div class="col-lg-6">
      <div class="card shadow-sm border-0 h-100">
        <div class="card-body">
          <h6 class="card-title text-muted mb-3">Top 5 Tour Packages</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Paris Escape <span class="badge bg-primary rounded-pill">120</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Rome Adventure <span class="badge bg-success rounded-pill">95</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Bali Relax <span class="badge bg-info rounded-pill">80</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Kyoto Culture <span class="badge bg-warning rounded-pill">70</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Maldives Luxury <span class="badge bg-danger rounded-pill">65</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}