{% extends "layouts/test-layout.html" %}

{% block main %}
    <div>
        <h1>Hello Setting</h1>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>email</th>
                        <th>type</th>
                        <th>status</th>
                        <th>message</th>
                    </tr>
                </thead>
            <tbody>
            {% for l in logs %}
                <tr>
                    <td>{{l.account.email}}</td>
                    <td>{{l.get_access_type_display}}</td>
                    <td>{{l.get_status_display}}</td>
                    <td>{{l.message}}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>

        </div>

        <ul>
            
            {% for d in datas %}
                <li>{{d.code}} | {{d.remaining_tickets}}</li>
            {% endfor %}
                
        </ul>
    </div>
{% endblock %}