{% extends 'layouts/admin-layout.html' %}
{% block content %}
<div class="container">
  <h3 class="mb-4 mt-3 fw-semibold text-primary">Booking Management</h3>

  <!-- Search and filter -->
  <form method="GET" class="row row-cols-lg-auto g-3 align-items-center mb-4" >
    <div class="col">
     <select name="status" class="form-select">
    <option value="">All</option>
    <option value="pending" {% if request.GET.status == 'pending' %}selected{% endif %}>Pending</option>
    <option value="reserved" {% if request.GET.status == 'reserved' %}selected{% endif %}>Reserved</option>
    <option value="cancelled" {% if request.GET.status == 'cancelled' %}selected{% endif %}>Cancelled</option>
</select>


    </div>

    <div class="col">
      <input type="text" class="form-control" name="query"  placeholder="Username or Booking ID">
    </div>

    <div class="col">
      <button type="submit" class="btn btn-primary px-4">
        <i class="bi bi-search"></i> Search
      </button>
    </div>
  </form>

  <!-- Booking table -->
  <div class="">
    <table class="table table-hover align-middle df-fs-sm">
      <thead class="table-light">
        <tr class="postition-sticky sticky-top">
          <th>Username</th>
          <th>Package</th>
          <th>Booked Date</th>
          <th>Status</th>
          <th>Time</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
 {% for booking in bookings %}
  <tr>
    <td>{{ booking.customer_name }}</td>
    <td>{{ booking.package_title }}</td>
    <td>{{ booking.booked_date|date:"F j, Y" }}</td>
    <td>
      <span class="df-badge
        {% if booking.status_display == 'Reserved' %}
          badge-green
        {% elif booking.status_display == 'Cancelled' %}
          badge-red
        {% else %}
          badge-blue
        {% endif %}
      ">
      {{ booking.status_display }}
      </span>
    </td>
    <td>{{ booking.time|time:"g:i A" }}</td>
    <td>
      <a href="{% url 'booking_detail' booking.id %}" class="btn btn-info btn-sm text-white px-3">Details</a>
    </td>
  </tr>
  {% empty %}
  <tr><td colspan="6">No bookings found.</td></tr>
  {% endfor %}
</tbody>

    </table>
  </div>
</div>
{% endblock %}
