{% load static %}
<nav id="navbar" class="navbar navbar-expand-lg py-2
position-sticky sticky-top
{{cssClass}}
">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'discover' %}">
            <div class="logo-icon"><i class="bi bi-compass-fill me-2"></i></div>
            <span class="fw-bold fs-4">Travella</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link active" href="{% url 'discover'%}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{%url 'customer_packages'%}">Packages</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'review_list'%}">Review</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about_us'%}">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact_us'%}">Contact Us</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'help_support'%}">Help and Support</a></li>
            </ul>

            {%if request.user.is_authenticated%}
            <div>
                <div class="d-flex align-items-center">
                    <a class="nav-link" href="{% url 'notifications'%}"><i class="fa-regular fa-bell fs-5"></i></a>

                    <div class="dropdown">
                        <span class="nav-link pointer me-3" data-bs-toggle="dropdown"><i class="me-2 fa-solid fa-chevron-down"></i>{{request.user.accountdetail.name}}</span>
                        <ul class="dropdown-menu shadow border-0">
                            <li><a class="dropdown-item text-brand" href="{% url 'customer_profile' %}"><i class="fa-solid fa-user me-3 text-brand"></i>Profile</a></li>
                            <li><a class="dropdown-item text-brand" href="{% url 'customer_booking_history' %}"><i class="fa-solid fa-list me-3 text-brand"></i>Bookings</a></li>
                            <li><a class="dropdown-item text-brand" href="{% url 'customer_settings' %}"><i class="fa-solid fa-gear me-3 text-brand"></i>Settings</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a type="button" class="dropdown-item text-danger" onclick="document.getElementById('signOutBtn').click()">
                            <i class="fa-solid fa-arrow-right-from-bracket me-3 text-danger"></i>Sign Out</a></li>
                        </ul>
                    </div>
                    <div style="width: 45px; height: 45px; border-radius: 50%; overflow: hidden;">
                        <img id="navBarProfileImage" src="
                        {% if request.user.accountdetail.photo %}
                        {{request.user.accountdetail.photo.url}}
                        {% else %}                        
                        {% static 'images/profile.webp' %}
                        {% endif %}
                        "
                            style="width: 100%; height: 100%; object-fit: cover;"
                            alt="">
                    </div>
                </div>
                <form id="signOutForm" action="{% url 'sign_out' %}" method="post" class="d-none">
                    {% csrf_token %}
                    <button id="signOutBtn" type="submit" class="btn btn-primary-main rounded-pill px-4">Sign Out</button>
                </form>
            </div>
            {% else %}
            <div class="d-flex align-items-center"><a href="{% url 'sign_in'%}"
                    class="nav-login-link text-decoration-none text-dark fw-medium me-3">Sign In</a>
                <a href="{% url 'sign_up' %}" class="btn btn-primary-main rounded-pill px-4">Sign Up</a>
            </div>
            {%endif%}

        </div>
    </div>
</nav>
