<input type="password"
        name="{{name}}"
        class="{{className}}"
        id="{{id}}"
        required
        minlength="8"
        pattern="(?=.*\d)(?=.*[A-Z]).{8,}"
        placeholder="{{placeholder}}"
        >


{% if showInfo %}
<div class="p-3">
  <ul>
    <li class="text-muted df-fs-sm">Must be at least 8 character long</li>
    <li class="text-muted df-fs-sm">Must include at least one uppercase letter (A-Z)</li>
    <li class="text-muted df-fs-sm">Must include at least one number (0-9)</li>
  </ul>
</div>  
{% endif %}
  
